* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.box {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: auto;
    position: relative;
    z-index: 1;
    top: 27px;
}

.l {
    border: 1px solid rgba(255, 255, 255, 0.744);
    border-radius: 5px;
}

.l1 {
    display: flex;
    column-gap: 18px;
}

/* .l .l1 option:blur{outline: none;} */
.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.text> :nth-child(1) {
    font-size: 52px;
    font-weight: bolder;
    margin: 15px 30px;
}

.text> :nth-child(2) {
    font-size: xx-large;
    margin: 15px 30px;
}

.text> :nth-child(3) {
    font-size: larger;
    margin: 15px 30px;
}

.btn {
    padding: 4px 9px;
    cursor: pointer;
}

.btnRed {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.big {
    width: 180px;
    height: 48px;
    font-size: 23px;
}

.small {
    width: 85px;
    height: 35px;
    font-size: 15px;
}

.main input {
    width: 380px;
    height: 49px;
    font-size: 18px;
    border-radius: 5px;
    padding: 13px;
    box-sizing: border-box;
    background-color: rgba(19, 19, 19, 0.806);
    border: 1px solid gray;
    outline: 2px solid white;
    outline-offset: 2px;
    color: #fff;
    margin: 0 20px;
    
}

.lines {
    position: relative;
    top: 0px;
    height: 7px;
    background-color: rgb(99, 96, 96);
}

.btn1 {
    background-color: rgba(19, 19, 19, 0.806);
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 557px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 511px;
}

@media screen and (max-width:1200px) {
    nav{
        max-width: 90vw;
    }
    .main input{margin: auto;}

    .first {
        flex-wrap: wrap;
    }

    /* .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    } */

    .text> :nth-child(1) {
        font-size: 36px;
    }

    .text> :nth-child(2) {
        font-size: 18px;
    }

    .text> :nth-child(3) {
        font-size: 18px;
    }
    .first {
        flex-wrap: wrap;
        overflow: auto;
    }
    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .btnRed{
        gap:10px;
        text-align: center;
        margin: auto;
        margin-top: 15px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
    .under p{
        margin: auto;
        text-align: center;
    }

}

.first>:nth-child(1)>:nth-child(1) {
    font-size: 52px;
    font-weight: bolder;
    margin: 0 5px;

}

.first>:nth-child(1)>:nth-child(2) {
    font-size: 20px;
    margin: 0 5px;
    /* padding-right: 5px; */
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 45px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.third video {
    width: 350px;
    left:90px;
}
.faq {
    background-color: black;
    color: #fff;

}

.faq h1 {
    text-align: center;
    font-size: 43px;
    font-weight: 900;
    margin: 30px 0;
}

.faqbox:hover {
    background-color: rgb(67, 62, 62);
    /* transition: all 1s ease-in-out; */
}

.faqbox {
    background-color: rgb(41, 39, 39);
    display: flex;
    padding: 27px;
    max-width: 64vw;
    margin: 7px auto;
    justify-content: space-between;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}

.under {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.under p {
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 25px;
}

.under input {
    width: 380px;
    height: 47px;
    font-size: 18px;
    border-radius: 5px;
    padding: 13px;
    box-sizing: border-box;
    background-color: rgba(19, 19, 19, 0.806);
    border: 1px solid gray;
    outline: 2px solid white;
    outline-offset: 2px;
    margin: 2px;
}

.under div {
    margin-bottom: 70px;
}

footer {
    max-width: 80vw;
    margin: auto;
    color: #fff;
    padding: 90px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.item {
    display: flex;
    flex-direction: column;
}

.item a {
    color: #fff;
    padding: 5px;
}

.footer .l2 {

    position: relative;
    top: 111px;
}

.end {
    margin: 20px 0;
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer a {
        font-size: 14px;
        color: white;
    }
    .footer-item {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

}